.vscode/
node_modules/
.idea/
*.iml
HW_3/report/report.fdb_latexmk
HW_3/report/report.log
HW_3/report/report.pdf
HW_3/report/report.synctex.gz
HW_3/report/report.aux
HW_3/report/report.bbl
HW_3/report/report.blg
HW_3/report/report.fls
HW_3/report/report.out
